page-atividade {

  .timer-button {
    font-size: 5rem !important;
    height: 1em !important;
  }

  .no-bottom-border.item .item-inner {
      border-bottom: none !important;
  }

  ion-fab-list button[ion-fab] {
        text-align: center;
        overflow: visible;
        contain: initial;

        div.label {
          position: absolute;
          right: 48px;
          background: rgba(248, 248, 248, 1);
          height: 24px;
          line-height: 16px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-top: 0px;
          border-radius: 5px;
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        }
    }
}
