<ion-header>
  <ion-navbar color="bordas">
    <ion-title text-center>Atividades</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment color="bordas" [(ngModel)]="categories" >
    <ion-segment-button (click)="get()" value="treino">
      Seu Treino
    </ion-segment-button>
    <ion-segment-button (click)="outros()" value="outro">
      Outros Exercicios
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="categories">
      <ion-list *ngSwitchCase="'treino'" >
        <div *ngIf="exer != null; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <ion-item-group *ngFor="let item of exer">
            <ion-item-divider color="bordas">{{item.title}}</ion-item-divider>
            <ion-item *ngFor="let exc of item.exer" (click)="openExer(exc)">
              <ion-avatar item-start>
                  <img src="{{exc.IMG}}">
                </ion-avatar>
                <ion-label>
                    <h2>{{exc.nome}}</h2>
                </ion-label>
            </ion-item>
          </ion-item-group>
        </ng-template>
        <ng-template #elseBlock>
            <label text-center>
                <h3>Não há exercicios catalogados</h3>
            </label>
        </ng-template>
      </ion-list>
      
      <ion-list *ngSwitchCase="'outro'" >
        <ion-searchbar [(ngModel)]="name" [formControl]="searchControl" (ionInput)="onSearchInput()" (ionCancel)="outros()"></ion-searchbar>
        <div *ngIf="exer != null; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <ion-item-group *ngFor="let item of exer">
            <ion-item-divider color="bordas">{{item.title}}</ion-item-divider>
            <ion-item *ngFor="let exc of item.exer" (click)="openOutro(exc)">
              <ion-avatar item-start>
                  <img src="{{exc.IMG}}">
                </ion-avatar>
                <ion-label>
                    <h2>{{exc.nome}}</h2>
                </ion-label>
            </ion-item>
          </ion-item-group>
        </ng-template>
        <ng-template #elseBlock>
            <label text-center>
                <h3>Não há exercicios catalogados</h3>
            </label>
        </ng-template>
      </ion-list>
  </div>
  
</ion-content>
